.home{
  width: 100%;
  margin: 0 auto;
}
.home h1{
  text-align: center;
  margin-top: 100px;
}
.home hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #df0606;
  margin: 0 auto;
  width: 80px
}

.home .slidingButton{
  color: #31302B;
  padding: 12px 17px;
  width: 20%;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  border: 3px solid #31302B;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*border-radius: 2px;*/
  display: block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.home a:link {
  text-decoration: none;
}

.home .slidingButton:hover {
  box-shadow: inset 0 100px 0 0 #df0606;
  color: #FFF;
  border: 3px solid #df0606;

}

.home ol{
  padding: 0;
  list-style-type: none;
}

form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  /*padding: 30px 0 0 4.25%;*/
  margin-bottom:10px;
}
form .likert {
  font-size: 12px;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
/*form .likert:last-of-type {border-bottom:0;}*/
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}

.adcell{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  display:block;
}


#status-buttons a {
  display:inline-block;
  font-size:15px;
  margin-right:20px;
  text-align:center;
  /*text-transform:uppercase;*/
  text-decoration: none;
  border-bottom: transparent solid 1px;
  padding-bottom: 5px;
}

#status-button a:hover {
  border-bottom: red solid 1px;
}

/*animated views*/
#poll-views.ng-enter,
#poll-views.ng-leave      {
	position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
}

/* enter animation */
#poll-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}

/* leave animation */
#poll-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}
