body a:link{
  text-decoration: none;
}
/*home page*/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 00px;
}

.home{
  width: 100%;
  margin: 0 auto;
}
.home h1{
  text-align: center;
  /*margin-top: 0px;*/
}
.home hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #df0606;
  margin: 0 auto;
  width: 80px
}

.home .slidingButton{
  color: #31302B;
  padding: 12px 17px;
  width: 20%;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  border: 3px solid #31302B;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*border-radius: 2px;*/
  display: block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}


.home .slidingButton:hover {
  box-shadow: inset 0 100px 0 0 #df0606;
  color: #FFF;
  border: 3px solid #df0606;
}

.home ol{
  padding: 0;
  list-style-type: none;
}
/* animating pin in home page logo */
#pin {
  transform-origin: bottom center;
  animation : pinmove 2s infinite;
  -webkit-animation: pinmove 2s infinite;
}

@keyframes pinmove {
  0%{
    transform: rotate(-30deg);
  }
  50%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes pinmove {
  from{
    transform: rotate(33deg);
  }
  to{
    transform: rotate(-33deg);
  }
}

/*poll page*/
.page-header{
  /*display: inline-block;*/
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px
}
.page-header a{
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
  font-size:16px;
}

#status-buttons a {
  display:inline-block;
  font-size:25px;
  margin-right:20px;
  text-align:center;
  border-bottom: transparent solid 1px;
  padding-bottom: 5px;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  padding-right: 50px;
}

#status-buttons{
  margin-left: 60%;
}

#status-buttons span{
  /*background:#080808;*/
  color: #333;
  display:block;
  height:30px;
  margin:0 auto 10px;
  /*padding-top:5px;*/
  width:50px;
  height: 70px
  /*border-radius:50%;*/
}

#status-buttons a.active .banner
{
  background:#df0606;
  color: #FFF
}

.banner{
  position:absolute;
  top: 0px;
  padding-top: 25px;
}

/*Poll pages*/
.col-sm-5{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.col-sm-5 .aboutscale{
  padding-top: 15px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.scales{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.scales a{
  color: #333;
  /*padding-right: 15px;*/
  width: 100%;
  text-align: left;
  display: inline-block;
}

.scales{
  display: flex;
  align-items: center;
}

.scales a.active {
  color : #df0606;
  font-weight: 700;
}

/*likert scales*/
.qanda{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*width: 40%;
  margin: 0 auto;
  padding-top: 40px;*/
  font-size: 14px;
  padding-top: 30px;
}
.qanda button{
  padding: 5px 5px;
  width: 20%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border: 3px solid #31302B;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 12px;
  /*display: block;*/
  /*text-align: center;*/
}

form ul{
  padding: 10px 0 10px 0;
}
form .likert {
  font-size: 12px;
  width:100%;
  margin:0;
  display:block;
  border-bottom:1px solid #efefef;
}
form .question{
  font-weight:700;
}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}

/*advertisement image*/
.adcell{
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*border-radius: 10px;*/
  display:block;
  margin-top: -20px;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:20;
}

/*animated views*/
#poll-views.ng-enter,
#poll-views.ng-leave      {
	position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
}

/* enter animation */
/*#poll-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}*/

/* leave animation */
/*#poll-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;
}*/

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
/*@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
/*@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}*/
/*@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}*/
/*@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}*/

/* removing bootstrap stuff */
div .row {
  margin-right: 0px;
  margin-left: 0px;
}
