body a:link{
  text-decoration: none;
}
/*home page*/
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 00px;
}

.home{
  width: 100%;
  margin: 0 auto;
}
.home h1{
  text-align: center;
  /*margin-top: 0px;*/
}
.home hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #df0606;
  margin: 0 auto;
  width: 80px
}

.home .slidingButton{
  color: #31302B;
  padding: 12px 17px;
  width: 20%;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  border: 3px solid #31302B;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  /*border-radius: 2px;*/
  display: block;
  text-align: center;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}


.home .slidingButton:hover {
  box-shadow: inset 0 100px 0 0 #df0606;
  color: #FFF;
  border: 3px solid #df0606;
}

.home ol{
  padding: 0;
  list-style-type: none;
}
/* animating pin in home page logo */
#pin {
  transform-origin: bottom center;
  animation : pinmove 2s infinite;
  -webkit-animation: pinmove 2s infinite;
}

@keyframes pinmove {
  0%{
    transform: rotate(-30deg);
  }
  50%{
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(-30deg);
  }
}

@-webkit-keyframes pinmove {
  from{
    transform: rotate(33deg);
  }
  to{
    transform: rotate(-33deg);
  }
}

/*poll page*/
.page-header{
  /*display: inline-block;*/
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0px
}
.page-header a{
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:700;
  font-size:16px;
}
.page-header.page-header-sliders{
  border-bottom:none;
  margin-top: 12%;
}
.page-header-sliders{
  text-align:Center;
  border-top:1px solid #eee;
  padding-top: 16px;
}

#status-buttons a {
  display:inline-block;
  font-size:25px;
  margin-right:20px;
  text-align:center;
  border-bottom: transparent solid 1px;
  padding-bottom: 5px;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  padding-right: 50px;
}

#status-buttons{
  margin-left: 60%;
}

#status-buttons span{
  /*background:#080808;*/
  color: #333;
  display:block;
  height:30px;
  margin:0 auto 10px;
  /*padding-top:5px;*/
  width:50px;
  height: 70px
  /*border-radius:50%;*/
}

#status-buttons a.active .banner
{
  background:#df0606;
  color: #FFF
}

.banner{
  position:absolute;
  top: 0px;
  padding-top: 25px;
}

/*Poll pages*/
.col-sm-5{
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}

.col-sm-5 .aboutscale{
  padding-top: 15px;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.scales{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.scales a{
  color: #333;
  /*padding-right: 15px;*/
  width: 100%;
  text-align: center;
  display: inline-block;
}

.scales{
  display: flex;
  align-items: center;
}

.scales a.active {
  color : #df0606;
  font-weight: 700;
}

/*likert scales*/
.qanda{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*width: 40%;
  margin: 0 auto;
  padding-top: 40px;*/
  font-size: 14px;
  padding-top: 30px;
}
.qanda button{
  padding: 5px 5px;
  width: 20%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border: 3px solid #31302B;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 12px;
  /*display: block;*/
  /*text-align: center;*/
}

form ul{
  padding: 10px 0 10px 0;
}
form .likert {
  font-size: 12px;
  width:100%;
  margin:0;
  display:block;
  border-bottom:1px solid #efefef;
}

form .likert.gender {
  font-size: 12px;
  width:40%;
  margin:0 auto;
  display:block;
  border-bottom:none;
  text-align:center;
}

form .question{
  font-weight:700;
}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}

form .likert.gender:before {
  background-color:#efefef;
  height:4px;
  width:38%;
  left:31%;
}

form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}

/*advertisement image*/
.adcell{
  width: 100%;
  height: 100%;
  object-fit: contain;
  /*border-radius: 10px;*/
  display:block;
  margin-top: -20px;
  top:0px;
  z-index:0;
  overflow:hidden
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:20;
}
.adfit{
  width:57.2%;
  position:absolute;
  top:36.5%;right:1%; left:0; margin:auto;
}
/*animated views*/
#poll-views.ng-enter,
#poll-views.ng-leave      {
	position:absolute;
  left:30px;
  right:30px;
  transition:0.5s all ease;
  -moz-transition:0.5s all ease;
  -webkit-transition:0.5s all ease;
}

.adcell img{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.adcell:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* enter animation */
/*#poll-views.ng-enter            {
  -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease;
}*/

/* leave animation */
/*#poll-views.ng-leave            {
  -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease;
}*/

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
/*@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
/*@keyframes slideInRight {
	from 	{ transform:translateX(200%); }
	to 		{ transform: translateX(0); }
}*/
/*@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(200%); }
	to 		{ -moz-transform: translateX(0); }
}*/
/*@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(200%); }
	to 		{ -webkit-transform: translateX(0); }
}*/

/* removing bootstrap stuff */
div .row {
  margin-right: 0px;
  margin-left: 0px;
}

/*Explanations Page*/
.expanim{
  -webkit-animation-name: cssTest;
  -webkit-animation-duration: 5s;
  transform-origin: center;
  -webkit-animation-fill-mode: forwards;
}
.expanimremove{
  -webkit-animation-name: cssTestremove;
  -webkit-animation-duration: 5s;
  transform-origin: center;
  /*-webkit-animation-fill-mode: forwards;*/
}

@-webkit-keyframes cssTest {
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(45deg);
  }
}

@-webkit-keyframes cssTestremove {
  0%{
    transform: rotateY(deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}

  #ipodanim{
    -webkit-animation-name: ianim;
    -webkit-animation-duration: 5s;
    transform-origin: center;
    -webkit-animation-fill-mode: forwards;
  }

  #guyanim{
    -webkit-animation-name: guyanim;
    -webkit-animation-duration: 5s;
    transform-origin: center;
    -webkit-animation-fill-mode: forwards;
  }

  #logoanim{
    -webkit-animation-name: logoanim;
    -webkit-animation-duration: 5s;
    transform-origin: center;
    -webkit-animation-fill-mode: forwards;
  }

  .coloranim{
    -webkit-animation-name: coloranim;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    /*transform-origin: center;*/
    /*-webkit-animation-fill-mode: forwards;*/
  }

  .elabanim{
    -webkit-animation-name: elabanim;
    -webkit-animation-duration: 3s;
    transform-origin: center;
    -webkit-animation-fill-mode: forwards;
    /*-webkit-animation-iteration-count: infinite;*/
  }

  @-webkit-keyframes elabanim {
    /*80%{
      transform: rotateZ(-45deg);
    }*/
    100%{
      transform: rotateZ(-50deg) scale(1.6);
    }
  }

  @-webkit-keyframes coloranim {
    0%{
      fill: #F3CC31;
    }
    25%{
      fill: #0194e1;
    }
    50%{
      fill: #ec5298 ;
    }
    75%{
      fill: #a0cb3b;
    }
    100%{
      fill: #F3CC31;
    }
  }

  @-webkit-keyframes ianim {
    0%{
      /*transform: translate3D(0,0,0);*/
    }
    100%{
      transform: translate3D(90px,-10px,0);
    }
  }
  @-webkit-keyframes guyanim {
    0%{
      /*transform: translate3D(0,0,0);*/
    }
    100%{
      transform: translate3D(45px,-5px,0);
      opacity: 0.8;
    }
  }
  @-webkit-keyframes logoanim {
    0%{
      /*transform: translate3D(0,0,0);*/
    }
    100%{
      transform: translate3D(-100px,30px,0);
      opacity: 0.5;
      /*transform:translate3D(800px, -180px,0);*/
    }
  }

  #rot{
    -webkit-animation-name: rotateanim;
    -webkit-animation-duration: 1s;
    transform-origin: center;
    -webkit-animation-iteration-count: infinite;
     -webkit-animation-timing-function: linear;
  }

  @-webkit-keyframes rotateanim {
    100%{
      transform: rotate(360deg);
    }
  }

  #OP{
    -webkit-animation: wind 10s linear infinite;
  }
  @keyframes wind{
  0% {
    transform: translateX(150px);
  }
  100% {
    transform: translateX(300px);
  }
}
  #OP4{
    -webkit-animation: wind2 20s linear infinite;
  }
  @keyframes wind2{
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(100px);
  }
}
  #OP7{
    -webkit-animation: wind3 25s linear infinite;
  }
  @keyframes wind3{
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(300px);
  }
}

/*zoom effect*/
.glass {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
  cursor: none;

  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /* hide the glass by default */
  display: none;
}
.form-control{
  border-radius: 0,-webkit-appearance: none;.
}

#q2,#q3,#q4,#q5,#q6,#q7,#q8,#q9{
  display:none;
}

.bar{
  width:20px;
  height:80px;
  position:absolute;
  z-index:2;
  top:85px;
  left:115px;
  /*left:50%;*/
}

.circle_container .sliders{
  /*position: absolute;*/
  z-index:2;
  width:90px;
}
.submit{
    position:absolute;
    padding: 5px 5px;
    width: 20%;
    margin: 0 auto;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    border: 3px solid #31302B;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 12px;
    display:block;
    margin:auto;
    margin-top:5%;
    margin-left:40%;
    /*margin-bottom:20px*/
}
#pAd{
  position:absolute;
  padding: 5px 5px;
  width: 20%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 12px;
  display:block;
  margin:auto;
  margin-top:15%;
  margin-left:20%;
  border-color: #31302B !important;
  border: 3px solid;
}
#nAd{
  position:absolute;
  padding: 5px 5px;
  width: 20%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 12px;
  display:block;
  margin:auto;
  margin-top:15%;
  margin-left:55%;
  border-color: #31302B !important;
  border: 3px solid;
}

.circle_container{
  width: 420px;
  height: 420px;
  /*border-radius: 50%;*/
  position:relative;
  z-index:1;
  margin:auto;
  top:10px;
}

.bar.currentbar{
  border-width:3px;
  border-style:solid;
  border-color:green;
}

.questions {
  position: relative;
  z-index: 10;
}


.surveyquestion{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
  text-align:center;
  text-transform: uppercase;
  font-size:11px;
}

.questions.surveyquestion{
  padding-top:20px;
  padding-bottom:15px;
  width:80%;
  margin:0 auto;
}

.nextbutton{
  width:3%;
  position: absolute;
  top: 45%;
  margin-left: 5px;
  margin-right:5px;
}

#next {
  border-color: transparent;
}
#back {
  border-color: transparent;
}

#next{
  position:absolute;
  right:11px;
  top:35%;
  width:2px;
}

#back{
  position:absolute;
  top:35%;
  width:2px;
}

.adButton{
  padding: 3px 3px;
  width: 10%;
  margin: 0 auto;
  background-color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border: 3px solid #31302B;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 14px;
  margin-right: 15px;
}
button.adButton.active{
  background:#df0606;
  color: #FFF;
  outline: none;
}
button.adButton:active{
  outline: none;
}
button.adButton:focus{
  outline: none;
}

.btnd:focus, .btnd:active, .btnd.active, .btnd:focus:active{
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#choice{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color:#df0606;
  position:absolute;
  z-index:12;
  top:45%;
  left:40%;
  width:20%;
  text-align: center;
}
.row{
  overflow: show;
}
[class*="col-"] {
  margin-bottom: -13%;
  padding-bottom: 13%;
}

div.container-fluid{
  padding-left:0px; padding-right:0px
}

#pAd{

}
#nAd{

}
