<div class="aboutscale">Style is the degree to which the product combines unlike elements into a refined, developed, coherent whole, statement or unit.</div>
<form class="qanda" method="post">
  <span class="question">This Ad has a high production quality</span>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree" ng-model="formData.choice" ng-value="'sagree'" ng-required="true" ng-change='newValue(formData.choice)'>
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="likert" value="agree" ng-model="formData.choice" ng-value="'agree'" ng-required="true">
        Agree
      </li>
      <li>
        <input type="radio" name="likert" value="neutral" ng-model="formData.choice" ng-value="'neutral'" ng-required="true">
        Neutral
      </li>
      <li>
        <input type="radio" name="likert" value="disagree" ng-model="formData.choice" ng-value="'disagree'" ng-required="true">
        Disagree
      </li>
      <li>
        <input type="radio" name="likert" value="strongly disagree" ng-model="formData.choice" ng-value="'sdisagree'" ng-required="true">
        Strongly Disagree
      </li>
    </ul>
  <span class="question">This Ad has great copy</span>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree" ng-model="formData.choice" ng-value="'sagree'" ng-required="true">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="likert" value="agree" ng-model="formData.choice" ng-value="'agree'" ng-required="true">
        Agree
      </li>
      <li>
        <input type="radio" name="likert" value="neutral" ng-model="formData.choice" ng-value="'neutral'" ng-required="true">
        Neutral
      </li>
      <li>
        <input type="radio" name="likert" value="disagree" ng-model="formData.choice" ng-value="'disagree'" ng-required="true">
        Disagree
      </li>
      <li>
        <input type="radio" name="likert" value="strongly disagree" ng-model="formData.choice" ng-value="'sdisagree'" ng-required="true">
        Strongly Disagree
      </li>
    </ul>
  <span class="question">This Ad was too long / too informative</span>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree" ng-model="formData.choice" ng-value="'sagree'" ng-required="true">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="likert" value="agree" ng-model="formData.choice" ng-value="'agree'" ng-required="true">
        Agree
      </li>
      <li>
        <input type="radio" name="likert" value="neutral" ng-model="formData.choice" ng-value="'neutral'" ng-required="true">
        Neutral
      </li>
      <li>
        <input type="radio" name="likert" value="disagree" ng-model="formData.choice" ng-value="'disagree'" ng-required="true">
        Disagree
      </li>
      <li>
        <input type="radio" name="likert" value="strongly disagree" ng-model="formData.choice" ng-value="'sdisagree'" ng-required="true">
        Strongly Disagree
      </li>
    </ul>
    <button type="submit" ng-click="createPoll(formData.choice)" value="Submit">Submit</button>
</form>
