<form class="qanda" method="post">
  <div style="text-align:center">
  <span style="display:inline-block" class="question">Have you seen a similar Ad before?</span>
    <ul class="likert">
      <li>
        <input type="radio" name="group1" value="strong_agree_1" ng-model="formData.group1" ng-required="true" ng-change="RadioChange(value)">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="group1" value="agree_1" ng-model="formData.group1" ng-required="true" ng-change="RadioChange(value)">
        Agree
      </li>
      <li>
        <input type="radio" name="group1" value="neutral_1" ng-model="formData.group1" ng-required="true" ng-change="RadioChange(value)">
        Neutral
      </li>
      <li>
        <input type="radio" name="group1" value="disagree_1" ng-model="formData.group1" ng-required="true" ng-change="RadioChange(value)">
        Disagree
      </li>
      <li>
        <input type="radio" name="group1" value="strong_disagree_1" ng-model="formData.group1" ng-required="true" ng-change="RadioChange()">
        Strongly Disagree
      </li>
    </ul>
  </div>
</form>
  <form class="qanda" method="post">
  <div style="text-align:Center">
  <span style="display:inline-block" class="question">How different is this Ad from an Ad you saw for a similar product?</span>
    <ul class="likert">
      <li>
        <input type="radio" name="group2" value="strong_agree_2" ng-model="formData.group2" ng-required="true" ng-change="RadioChange(value)">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="group2" value="agree_2" ng-model="formData.group2" ng-required="true" ng-change="RadioChange(value)">
        Agree
      </li>
      <li>
        <input type="radio" name="group2" value="neutral_2" ng-model="formData.group2" ng-required="true" ng-change="RadioChange(value)">
        Neutral
      </li>
      <li>
        <input type="radio" name="group2" value="disagree_2" ng-model="formData.group2" ng-required="true" ng-change="RadioChange(value)">
        Disagree
      </li>
      <li>
        <input type="radio" name="group2" value="strong_disagree_2" ng-model="formData.group2" ng-required="true" ng-change="RadioChange(value)">
        Strongly Disagree
      </li>
    </ul>
  </div>
</form>
<form class="qanda" method="post">
  <div style="text-align:center">
  <span style="display:inline-block" class="question">This add contains multiple ideas / themes</span>
    <ul class="likert">
      <li>
        <input type="radio" name="group3" value="strong_agree_3" ng-model="formData.group3" ng-required="true" ng-change="RadioChange(value)">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="group3" value="agree_3" ng-model="formData.group3" ng-required="true" ng-change="RadioChange(value)">
        Agree
      </li>
      <li>
        <input type="radio" name="group3" value="neutral_3" ng-model="formData.group3" ng-required="true" ng-change="RadioChange(value)">
        Neutral
      </li>
      <li>
        <input type="radio" name="group3" value="disagree_3" ng-model="formData.group3" ng-required="true" ng-change="RadioChange(value)">
        Disagree
      </li>
      <li>
        <input type="radio" name="group3" value="strong_disagree_3" ng-model="formData.group3" ng-required="true" ng-change="RadioChange(value)">
        Strongly Disagree
      </li>
    </ul>
    </div>
    <button style="display:block; margin:auto; margin-top:20px; margin-bottom:20px" type="submit" ng-click="createPoll(formData.value)" value="Submit">Submit</button>
</form>
