<form id="qanda" method="post">
    <label class="statement" for="">This HTML Likert Scale is easy to use</label>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label for="">Strongly Agree</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label for="">Agree</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label for="">Neutral</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label for="">Disagree</label>
      </li>
      <li>
        <input type="radio" name="likert" value="strong_agree">
        <label for="">Strongly Disagree</label>
      </li>
    </ul>
</form>
