<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="background-color:yellow; height:100%">Image</div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Gap</div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="background-color:none; height:100%; padding-top:50px">
      <div style="width:100%; height:100px; background-color:pink; border-radius:10px; display:inline-block">
        <div style="text-align:center">Question <span id="qnum"></span> of <span>9</span></div>
        <div class="questions" style="text-align:center">
            <div id="q1" class="first current">Have you seen a similar Ad before?</div>
            <div id="q2" >How different is this Ad from an Ad you saw for a similar product?</div>
            <div id="q3" >This add contains multiple ideas / themes</div>
            <div id="q4" >How relevant is the idea shown in the Ad to the product categeory</div>
            <div id="q5" >How well can you relate to the idea / situation shown in the Ad?</div>
            <div id="q6" >How easy was it to interpret the idea shown in the Ad?</div>
            <div id="q7" >This Ad has a high production quality</div>
            <div id="q8" >This Ad has great copy</div>
            <div id="q9" class="last">This Ad was too long / too informative</div>
          <button id="next" >Next</button><br>
          <button id="back" disabled="disabled">Back</button>
        </div>
      </div>
      <div class="circle_container">
      <div class="sliders" id="s1" style="background-color:blue"></div>
      <div class="sliders" id="s2"></div>
      <div class="sliders" id="s3"></div>
      <div class="sliders" id="s4"></div>
      <div class="sliders" id="s5"></div>
      <div class="sliders" id="s6"></div>
      <div class="sliders" id="s7"></div>
      <div class="sliders" id="s8"></div>
      <div class="sliders" id="s9"></div>
      </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Gap</div>
  </div>
</div>
<script>
var qnumber = 1;
$('#qnum').text(qnumber);

var nextAngle=0;
var reduceAngle =0;


  $('#next').on('click',function(){
      nextAngle += 40;
      reduceAngle -= 40;
    // console.log(nextAngle);
    $('.circle_container').rotate({animateTo: nextAngle});
    $('.sliders').rotate({animateTo:reduceAngle});
    qnumber = qnumber+1;
    $('#qnum').text(qnumber);

    $('.current').removeClass('current').hide()
      .next().show().addClass('current');
    if($('.current').hasClass('last')){
      $('#next').attr('disabled',true);
    }
    $('#back').attr('disabled', null);

  });

  $('#back').on("click",function() {
    nextAngle -= 40;
    reduceAngle += 40;
    $('.circle_container').rotate({animateTo:nextAngle});
    $('.sliders').rotate({animateTo:reduceAngle});

    qnumber = qnumber-1;
    $('#qnum').text(qnumber);

    $('.current').removeClass('current').hide()
        .prev().show().addClass('current');
    if ($('.current').hasClass('first')) {
        $('#back').attr('disabled', true);
    }
    $('#next').attr('disabled', null);

});

$(document).ready(function(){
  var range_all_sliders = {
    'min': ['SD'],
    '25%': ['D'],
    '50%': ['N'],
    '75%': ['SA'],
    'max': ['A']
  }
//code for snapping slider
var sliders = document.getElementsByClassName('sliders');
for(var i =0; i<sliders.length; i++){
  noUiSlider.create(sliders[i], {
    start: [3],
    pips: {
      mode: 'values',
      values:[1,2,3,4,5],
      density: 4
    },
    step: 1,
    orientation:"horizontal",
    range:{
      'min':[1],
      'max': [5]
    }
  });
};
//code to change color of the marker on drag
$("#s1,#s2,#s3,#s4,#s5,#s6,#s7,#s8,#s9,#s10").each(function(){
  console.log(this.noUiSlider.get());
  this.noUiSlider.on('update',function(values,handle){
    // console.log("Hello"+this.id);
    console.log(values[handle]);
    if(values[handle] == '1.00'){
      $('.noUi-marker-large').css('background-color','yellow');
    }
  });
});


//code for position each slider around a circle
var numItems = $(".circle_container .sliders").length;
var start = 0;
var step = (2*Math.PI)/numItems;
$(".circle_container .sliders").each(function(index){
  var radius = ($(".circle_container").width() - $(this).width())/2;
  var tmpTop = (($(".circle_container").height()/2) + radius * Math.sin(start)) - ($(this).height()/2);
  var tmpLeft = (($(".circle_container").width()/2) + radius * Math.cos(start)) - ($(this).width()/2);
  start += step;

  $(this).css("top",tmpTop);
  $(this).css("left",tmpLeft);
  // $(this).css('transform','rotate('+90+'deg)');
});

var qnumber = 1;
$('#qnum').text(qnumber);


});

</script>
