<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5" style="">
      <form>
          <label class="statement" for="">This HTML Likert Scale is easy to use</label>
          <ul class="likert">
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Strongly Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Neutral</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Disagree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Strongly Disagree</label>
            </li>
          </ul>
      </form>
      <form>
          <label class="statement" for="">This HTML Likert Scale is easy to use</label>
          <ul class="likert">
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Strongly Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Agree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Neutral</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Disagree</label>
            </li>
            <li>
              <input type="radio" name="likert" value="strong_agree">
              <label for="">Strongly Disagree</label>
            </li>
          </ul>
      </form>
    </div>
    <div class="col-sm-7">
        <img class="adcell" src="/images/clios/gold/01.jpg" alt="">
    </div>
  </div>
</div>
