<div class="aboutscale">Elaboration is the degree to which the product fits or meets the needs of the problematic situation.</div>
<form class="qanda" method="post">
  <span class="question">How relevant is the idea shown in the Ad to the product categeory</span>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree" ng-model="formData.choice" ng-value="'sagree'" ng-required="true">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="likert" value="agree" ng-model="formData.choice" ng-value="'agree'" ng-required="true">
        Agree
      </li>
      <li>
        <input type="radio" name="likert" value="neutral" ng-model="formData.choice" ng-value="'neutral'" ng-required="true">
        Neutral
      </li>
      <li>
        <input type="radio" name="likert" value="disagree" ng-model="formData.choice" ng-value="'disagree'" ng-required="true">
        Disagree
      </li>
      <li>
        <input type="radio" name="likert" value="strongly disagree" ng-model="formData.choice" ng-value="'sdisagree'" ng-required="true">
        Strongly Disagree
      </li>
    </ul>
  <span class="question">How well can you relate to the idea / situation shown in the Ad?</span>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree" ng-model="formData.choice" ng-value="'sagree'" ng-required="true">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="likert" value="agree" ng-model="formData.choice" ng-value="'agree'" ng-required="true">
        Agree
      </li>
      <li>
        <input type="radio" name="likert" value="neutral" ng-model="formData.choice" ng-value="'neutral'" ng-required="true">
        Neutral
      </li>
      <li>
        <input type="radio" name="likert" value="disagree" ng-model="formData.choice" ng-value="'disagree'" ng-required="true">
        Disagree
      </li>
      <li>
        <input type="radio" name="likert" value="strongly disagree" ng-model="formData.choice" ng-value="'sdisagree'" ng-required="true">
        Strongly Disagree
      </li>
    </ul>
  <span class="question">How easy was it to interpret the idea shown in the Ad?</span>
    <ul class="likert">
      <li>
        <input type="radio" name="likert" value="strong_agree" ng-model="formData.choice" ng-value="'sagree'" ng-required="true">
        Strongly Agree
      </li>
      <li>
        <input type="radio" name="likert" value="agree" ng-model="formData.choice" ng-value="'agree'" ng-required="true">
        Agree
      </li>
      <li>
        <input type="radio" name="likert" value="neutral" ng-model="formData.choice" ng-value="'neutral'" ng-required="true">
        Neutral
      </li>
      <li>
        <input type="radio" name="likert" value="disagree" ng-model="formData.choice" ng-value="'disagree'" ng-required="true">
        Disagree
      </li>
      <li>
        <input type="radio" name="likert" value="strongly disagree" ng-model="formData.choice" ng-value="'sdisagree'" ng-required="true">
        Strongly Disagree
      </li>
    </ul>
    <button type="submit" ng-click="createPoll(formData.choice)" value="Submit">Submit</button>
</form>
